* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-image: url('background.jpg'); /* URL of your background image */
    background-size: cover;
    background-position: center;
}

#connectMetamask{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: lightgray 0px 5px 10px;
    margin-bottom: 20px;
}
    #connectWalletMessage{
        font-size: large;
        font-weight: bold;
    }

    #connectWallet{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: rgb(4, 0, 128);
    }

    #connectWallet:active{
        color: blue;
        background-color: white;
    }

#votingStation{
    display: block; /* none=>block*/
    width: 100%;
    text-align: center;
    justify-content: center;
}
    #timer{
        font-size: larger;
    }
        #time{
            font-weight: bold;
        }

    #mainBoard, #result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        max-width: 700px;
        margin: auto;
    }
        #candidateBoard, #resultBoard{
            border-collapse: collapse;
        }
            #candidateBoard th, #resultBoard th{
                padding: 5px 10px;
                border: 1px solid black;
            }
            #candidateBoard td, #resultBoard td{
                padding: 5px 10px;
                border: 1px solid black;
            }
    #voteForm{
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
        label {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
            #voteForm label{
                margin: 20px;
            }
            #vote{
                font-size: larger;
                padding: 10px 20px;
                border-radius: 10px;
                width: 50%;
                min-width: 100px;;
                max-width: 200px;
            }
                #vote::-webkit-inner-spin-button,
                #vote::-webkit-outer-spin-button,
                #electionDuration::-webkit-inner-spin-button,
                #electionDuration::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

            #sendVote{
                margin: 10px;
                font-size: larger;
                color: white;
                background-color: rgb(4, 0, 128);
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
            }
                #sendVote:active{
                    background-color: white;
                }
    
    #showResultContainer{
        display: block; /* none=>block*/
    }
        #showResult{
            font-size: large;
            font-weight: bold;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: black;
            background-color: yellow;
        }

            #showResult:active{
                color: black;
                background-color: yellow;
            }

    #result{
        display: flex; /* none=>flex*/
        margin-top: 20px;
        border-top: 2px solid black;
    }
        #electionMessage{
            font-size: larger;
            font-weight: bold;
        }

    #admin{
        max-width: 700px;
        font-weight: bold;
        padding: 20px;
        margin: 10px auto;
        border-top: 2px solid black;
        display: flex;
        flex-direction: column;
    }
        #adminHeading{
            font-size: larger;
        }

        #tools{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
        }
            #startElection, #addCandidate{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                min-width: 300px;
                max-width: 500px;
                padding: 20px;
                margin: 10px;
                border: 1px solid gray;
                border-radius: 10px;
            }

                #startElection input, #addCandidate input{
                    padding: 5px 10px;
                    margin: 5px;
                    border: 1px solid gray;
                    border-radius: 5px;
                }

                #startElection button, #addCandidate button{
                    font-size: large;
                    padding: 5px 10px;
                    margin: 5px;
                    color: white;
                    background-color: rgb(4, 0, 128);
                    border: none;
                    border-radius: 5px;
                }

               /* Style for login page */

        #loginForm {
            max-width: 600px;
            width: 80%;
            margin: 100px auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group label {
            display: block;
            margin-bottom: 10px;
        }

        .input-group input[type="text"],
        .input-group input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16 px;
        }

        #loginButton {
            width: 100%;
            padding: 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        #loginButton:hover {
            background-color: #0056b3;
        }

        p.error-message {
            color: red;
            font-size: 14px;
            text-align: center;
            margin-top: 15px;
        }
        #logoutButton {
            width: 10%;
            padding: 15px;
            position: fixed;
            right: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }
        
        